<h1>{{ warrior.person.full_name }}</h1>
<body>
<table>
	<tr>
		<th>Звання</th>
		<td>{{ warrior.m_rank.name }}</td>
	</tr>
	<tr>
		<th>ПІП</th>
		<td>{{ warrior.person.full_name }}</td>
	</tr>
	<tr>
		<th>Номер телефону</th>
		<td>{{ warrior.person.phone_number }} </td>
	</tr>
	<tr>
		<th>Посада</th>
		<td>{{ warrior.position.full_name }} </td>
	</tr>
</table>
{% for relative in warrior.relations %}
<p>
{{ relative.relation }}:<br/>
{{ relative.person2.full_name }}<br/>
{{ relative.person2.birth_date|date:"Y-m-d" }}<br/>
{{ relative.person2.phone_number }}<br/>
{{ relative.person2.scribe_address }}
</p>
{% endfor %}
</body>
