<h1>Особовий склад</h1>
<body>
{% if object_list|length == 0 %}
	<p>Поки нема військовослужбовців</p>
{% else %}
<table>
	<tr>
		<th>№</th>
		<th>Звання</th>
		<th>ПІП</th>
		<th>Номер телефону</th>
		<th>Посада</th>
		<th>Дата народження</th>
	</tr>
{% for warrior in object_list %}
	<tr>
		<td><a href="../warrior/{{warrior.pk}}">{{ forloop.counter }}</a></td>
		<td><a href="../warrior/{{warrior.pk}}">{{ warrior.m_rank }}</a></td>
		<td><a href="../warrior/{{warrior.pk}}">{{ warrior.person.full_name }}</a></td>
		<td><a href="../warrior/{{warrior.pk}}">{{ warrior.person.phone_number }}</a></td>
		<td><a href="../warrior/{{warrior.pk}}">{{ warrior.position.semifull_name }}</a></td>
		<td><a href="../warrior/{{warrior.pk}}">{{ warrior.person.birth_date|date:"Y-m-d" }}</a></td>
	</tr>
{% endfor %}
</table>
{% endif %}
</body>
