<h1>Список зброї роти КДБ в/ч А7047</h1>
<body>
{% if object_list|length == 0 %}
	<p>Поки нема військовослужбовців</p>
{% else %}
<table>
	<tr>
		<th>№ з/п</th>
		<th>В/звання</th>
		<th>ПІП</th>
		<th>Тип зброї</th>
		<th>Заводський № зброї</th>
		<th>Рік виготовлення</th>
		<th>Тип б/п</th>
		<th>Кількість б/п</th>
		<th>Тип гранат</th>
		<th>Кількість гранат</th>
		<th>Документ, його серія та №</th>
		<th>Підпис</th>
	</tr>
{% for weapon in object_list %}
	<tr>
		<td>{{ forloop.counter }}</td>
		<td>{{ weapon.warrior.m_rank.name }}</td>
		<td>{{ weapon.warrior.person.full_name }}</td>
		<td>{{ weapon.weapon.wmodel}}</td>
		<td>{{ weapon.wnumber }}</td>
		<td>{{ weapon.wyear }}</td>
		<td>{{ weapon.weapon.ammo_caliber }}</td>
		<td>{{ weapon.ammo_amount }}</td>
		<td>---</td>
		<td>---</td>
		<td>{{ weapon.w_doc.d_type }}<br/>{{ weapon.w_doc.number }}</td>
		<td></td>
	</tr>
{% endfor %}
</table>
{% endif %}
</body>
